* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: black;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
}

.task-text {
    margin-bottom: 10px;
}

.task-text:last-child {
    margin-bottom: 20px;
}

.beer-list {
    display: flex;
    gap: 20px
}

.btn {
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    background-color: lightblue;
    color: black;
}

.btn:hover {
    background-color: grey;
    cursor: pointer;
}